In [ ]:
#Importamos la libreria que vamos a ocupar
import pandas as pd

In [ ]:
# Cargar la base sucia
data= pd.read_csv("Base_Sucia.csv")
data

In [ ]:
# Información general
data.info()

In [ ]:
data.head()

In [ ]:
#Generamos un df con True donde hay NaN y False donde hay datos
data.isnull()

In [ ]:
# Contar los valores nulos
data.isnull().sum()

In [ ]:
#Rellenamos las columnas numericas que tienen los valores nulos por el promedio
columnas_numericas = ["age", "campaign", "previous"]

for col in columnas_numericas:
    data[col] = data[col].fillna(data[col].mean())

In [ ]:
#Rellenar los valores nulos en las columnas categoricas por la moda 
columnas_categoricas = ["job", "marital", "education", "housing", "loan", "contact", "poutcome", "subscribed"]

for col in columnas_categoricas:
    moda = data[col].mode()[0]
    data[col] = data[col].fillna(moda)
    print(f"Columna '{col}'los valores nulos han sido reemplazados por la moda ('{moda}')")

Al tratar de convertir la columna "balance" a bumerico marca error.

In [ ]:
#Convierto los valores nulo de la columna balance a ceros
data["balance"] = data["balance"].fillna(0)

In [ ]:
data2=data.isnull().sum()

In [ ]:
#Checamos otra vez
data2

In [ ]:
#Vemos las palabras de cada columna 
for col in ["job", "marital", "education", "housing", "loan", "contact", "poutcome", "subscribed"]:
    print(f"\nColumna: {col}")
    print(data[col].unique())

In [ ]:
#Eliminar palabras que son invalidas en las columnas
valores_invalidos = ["Auto%#", "unknown"]

columnas_a_revisar = ["job", "education", "housing", "poutcome", "subscribed"]

for col in columnas_a_revisar:
    data = data[~data[col].isin(valores_invalidos)]

In [ ]:
#Verificar que ya no esten
for col in columnas_a_revisar:
    print(f"\nColumna: {col}")
    print(data[col].unique())

In [ ]:
data.shape

In [ ]:
#Checamos los duplicados
data.duplicated().sum()

In [ ]:
#Eliminamos duplicacos
data=data.drop_duplicates()

In [ ]:
#Checamos los duplicados
data.duplicated().sum())

In [ ]:
#Checamos nombres de las columnas
data.columns

In [ ]:
#Renombramos las columnas a español
data=data.rename(columns={'age': 'Edad', 'job':'trabajo', 'education':'educacion', 'balance':'saldo', 'marital':'estado_civil', 'housing':'credito_vivienda', 'loan':'prestamo',
  'contact':'contacto', 'campaing':'campañas', 'previous':'contactos_previos', 'subscribed':'suscrito'})
data

In [ ]:
#Checamos la base
data

In [ ]:
#Guardo la base limpia
data.to_csv("Base_limpia_Bank.csv", index=False)